<header class="header">
    <div class="header__main">
        <div class="header__main__logo">
            StayHealthy1
        </div>

        <nav class="navigation-menu">
            <ul class="navigation-menu__list">
                <li class="list__item list__item_focus">Home</li>
                <li class="list__item">Progra</li>
                <li class="list__item">Nutritions</li>
                <li class="list__item">Pricing</li>
                <li class="list__item">About</li>
            </ul>
        </nav>
        <button class="header__main__button-join">
            Join Now
        </button>
    </div>
</header>