.main-modal{
    position: fixed; /* Фиксированное позиционирование относительно окна браузера */
  top: 0;         /* Верхний край модального окна прижат к верху окна браузера */
  left: 0;        /* Левый край модального окна прижат к левому краю окна браузера */
  width: 100%;    /* Ширина модального окна равна ширине окна браузера */
  height: 100%;   /* Высота модального окна равна высоте окна браузера */
  background-color: #fff; /* Цвет фона модального окна */
  z-index: 1000;  /* Устанавливает z-индекс для того, чтобы модальное окно было поверх других элементов */          
}